<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>班表管理</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="<%=request.getContextPath()%>/resources/css/schedule/schedule.css">

</head>
<body>
	<%-- 導覽列 --%>
	<nav class="navbar navbar-dark fixed-top navbar-expand-lg">
		<div class="container-fluid">
			<a class="navbar-brand"> 
				<img src="<%=request.getContextPath()%>/resources/images/logo.png" width="26" height="23" class="d-inline-block align-text-top">
				寵愛牠
			</a> <span class="navbar-text"> 歡迎你~服務人員${name}</span>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link" href="<%=request.getContextPath()%>/back-end/staff/index.jsp"> 
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
							<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
						</svg> 返回服務人員頁面
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<%-- 新增班表 --%>
	<div class="container">

		<form method="post" action="<%=request.getContextPath()%>/ScheduleServlet" id="scheduleForm" class="form-row">
			<label for="workDate" class="mr-2">日期:</label>
			<div class="form-group">
				<input type="date" class="form-control" id="workDate" name="date"  min="<%= LocalDateTime.now().format(DateTimeFormatter.ofPattern("yyyy-MM-dd")) %>"  value="${scheduleVO.date}" required>
			</div>
			
			<label for="workShift" class="mr-2">時段:</label>
			<div class="form-group">
				<select class="form-control" id="workShift" name="timeslot" required>
					<option value="000000000111000000000000">09:00 - 12:00</option>
					<option value="000000000000111000000000">12:00 - 15:00</option>
					<option value="000000000000000111000000">15:00 - 18:00</option>
				</select>
			</div>
			<div class="form-group">
				<input type="hidden" name="staff_id" value="${staff_id}">
				<input type="hidden" name="action" value="insert">
				<button type="submit" class="btn btn-primary">新增班表</button>
			</div>
			
			<%-- 錯誤顯示 --%>
			<c:if test="${not empty errorMsgs}">
				<ul><c:forEach var="message" items="${errorMsgs}">
						<li style="color: red">${message}</li>
				</c:forEach></ul>
			</c:if>
			
		</form>
		
		<%-- 班表顯示 --%>
		<table class="table table-bordered table-striped" id="scheduleTable">
			<thead><tr>
					<th>日期</th>
					<th>時段</th>
					<th>操作</th>
			</tr></thead>
			
			<tbody>
				<%@ include file="page1.file" %> 
				<c:forEach var="scheduleVO" items="${list}" begin="<%=pageIndex%>" end="<%=pageIndex+rowsPerPage-1%>">
				<tr>
					<td>${scheduleVO.date}</td>
					<td class="timeslotTd">${scheduleVO.timeslot}</td>
					<td><form method="post" action="<%=request.getContextPath()%>/ScheduleServlet">
						<input type="hidden" name="scheduble_id" value="${scheduleVO.schedule_id}">
						<input type="hidden" name="timeslot" value="${scheduleVO.timeslot}">
						<input type="hidden" name="action" value="delete">
						<button type="submit" class="delete">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
						  		<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
							</svg>
						</button>
					</form></td>
					</tr>
				</c:forEach>
			</tbody>
		</table>
		<%@ include file="page2.file" %>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="<%=request.getContextPath()%>/resources/js/schedule/schedule.js"></script>
	Feng test
</body>
</html>