<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>平台管理登入</title>
   <link rel="stylesheet" th:href="@{/css/adminLogin.css}" />

</head>
<body>
<div class="login-container">
  <img id="logo" th:src="@{/images/title.png} ">
  <h2>平台方管理系統登入</h2>

  <form id="loginForm"
        th:action="@{/admin/login}"
        method="post">
    <div class="input-group">
      <label for="username">帳號</label>
      <!-- required為必填屬性 -->
      <input type="text" id="username"  name="account" value="" required />
    </div>
    <div class="input-group">
      <label for="password">密碼</label>
      <input type="password" id="password" name="password" value="" required />
    </div>
    <button type="submit" value="  ok   " class="login-btn">登入</button>
  </form>
</div>

<script th:src="@{/vendors/jquery/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/adminLogin.js}"></script>

</body>
</html>