

        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>平台管理系統</title>
          <link rel="stylesheet"
                th:href="@{/css/adminHomepage.css}" />
          <link rel="stylesheet"
                th:href="@{/vendors/datatables/dataTables.min.css}" />
        </head>
        <body>
        <header class="header">
          <div class="title_content_box">
            <!-- <span class="aside_bar"><i class="fa-solid fa-bars fa-lg"></i></span> -->

            <h2 class="h_title">
              <img th:src="@{/images/logo.png}" alt="" />寵愛牠平台管理系統
            </h2>
            <span class="user_admin"><i class="fa-solid fa-user"></i>  <strong>admin</strong></span>
          </div>
        </header>
        <nav class="nav">
          <a onclick="showContent('order')">訂單管理</a>
          <a onclick="showContent('resume')">履歷審核</a>
          <a onclick="showContent('member')">會員管理</a>
          <a onclick="showContent('worker')">服務人員管理</a>
        </nav>

        <div id="homepage_img">
          <img th:src="@{/images/homepageCat.png}"  alt="" />
        </div>
        <div id="order" class="content">
          <h2 class="content_title">訂單管理</h2>
          <table id="myTable" class="display">
            <thead>
            <tr>
              <th>訂單編號</th>
              <th>訂單建立時間</th>
              <th>顧客姓名</th>
              <th>服務人員姓名</th>
              <th>上車地點</th>
              <th>下車地點</th>
              <th>支付方式</th>
              <th>折抵點數</th>
              <th>訂單金額</th>
              <th>訂單備註</th>
              <th>訂單狀態</th>
              <th>客戶評論</th>
              <th>訂單評價</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="ordersVO : ${ordersList}">
              <tr>
                <td th:text="${ordersVO.orderId}"></td>
                <td th:text="${#temporals.format(ordersVO.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${ordersVO.member.memName}"></td>
                <td th:text="${ordersVO.staff.staffName}"></td>
                <td th:text="${ordersVO.onLocation}"></td>
                <td th:text="${ordersVO.offLocation}"></td>
                <td th:switch="${ordersVO.payMethod}">
                  <span th:case="0">點數</span>
                  <span th:case="1">刷卡</span>
                  <span th:case="2">點數 + 刷卡</span>
                </td>
                <td th:text="${ordersVO.point}"></td>
                <td th:text="${ordersVO.payment}"></td>
                <td th:text="${ordersVO.notes}"></td>
                <td th:switch="${ordersVO.status}">
                  <span th:case="0" style="color: red">未成立</span>
                  <span th:case="1" style="color: #0b0b0b">未完成</span>
                  <span th:case="2" style="color: green">已完成</span>
                </td>
                <td th:text="${ordersVO.rating}"></td>
                <td>
                <!-- ordersVO.star 的值，產生對應數量的 HTML 元素  -->
                <!-- #numbers.sequence(起始值, 結束值) 是 Thymeleaf 數列產生器-->
                  <span th:each="i : ${#numbers.sequence(1, ordersVO.star)}">
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  </span>
                </td>
              </tr>

            </th:block>
            </tbody>
          </table>
        </div>
        <div id="resume" class="content">
          <h2 class="content_title">履歷審核</h2>
          <table id="myTable3" class="display">
            <thead>
            <tr>
              <th>履歷編號</th>
              <th>應徵者姓名</th>
              <th>應徵者電話</th>
              <th>應徵者電子信箱</th>
              <th>應徵時間</th>
              <th>審核結果</th>
              <th>審核完成時間</th>
              <th>檢視</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="applyVO : ${applyList}">
              <tr>
                <td th:text="${applyVO.applyId}"></td>
                <td th:text="${applyVO.applyName}"></td>
                <td th:text="${applyVO.applyPhone}"></td>
                <td th:text="${applyVO.applyEmail}"></td>
                <td th:text="${#temporals.format(applyVO.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:switch="${applyVO.results}">
                    <span th:case="0" style="color: red">未通過</span>
                    <span th:case="1" style="color: green">已通過</span>
                    <span th:case="2" style="color: brown">待審核</span>
                </td>
                <td th:text="${#temporals.format(applyVO.reviewTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                  <th:block th:with="licenseUrl=@{/BlobReader(applyId=${applyVO.applyId})}">
                    <span class="view-resume"
                            th:attr="
                            data-name=${applyVO.applyName},
                            data-gender=${applyVO.applyGender},
                            data-phone=${applyVO.applyPhone},
                            data-email=${applyVO.applyEmail},
                            data-plate=${applyVO.carNumber},
                            data-introduction=${applyVO.introduction},
                            data-license=${licenseUrl} ">
                                  <i class="fa-solid fa-eye"></i>
                          </span>
                  </th:block>
                </td>
              </tr>

            </th:block>
            </tbody>
          </table>
        </div>
        <!-- 履歷審核的彈窗 -->
        <div id="resumeModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <div class="left-section">
              <p>
                <strong>應徵者姓名：</strong> <span id="modal-name"></span>
              </p>
              <p>
                <strong>應徵者性別：</strong> <span id="modal-gender"></span>
              </p>
              <p>
                <strong>應徵者電話：</strong> <span id="modal-phone"></span>
              </p>
              <p>
                <strong>應徵者電子信箱：</strong> <span id="modal-email"></span>
              </p>
              <p>
                <strong>應徵者車號：</strong> <span id="modal-plate"></span>
              </p>
              <p>
                <strong>應徵者簡介：</strong> <div id="modal-introduction"></div>
              </p>
            </div>
            <div class="right-section">
              <p>
                <strong>應徵者駕照照片：</strong>
              </p>
              <img id="modal-license" src="" alt="駕照照片" />
              <!-- 按鈕區域 -->
              <form th:method="post"
                    th:action="@{/updateResult}">
                <div class="buttons">
                  <input type="hidden" name="applyId" value="">
                  <input type="hidden" name="results" id="rs">
                  <button type="submit" class="approve" id="approve-btn">聘用</button>
                  <button type="submit" class="reject" id="reject-btn">婉拒</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div id="member" class="content">
          <h2 class="content_title">會員管理</h2>
          <table id="myTable1" class="display" data-type="member">
            <thead>
            <tr>
              <th>顧客編號</th>
              <th>顧客姓名</th>
              <th>電話</th>
              <th>地址</th>
              <th>點數</th>
              <th>電子信箱</th>
              <th>帳號狀態</th>
              <th>帳號註冊時間</th>
              <th>最後更新時間</th>
              <th>停權</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="memberVO : ${memberList}">
              <tr>
                <td th:text="${memberVO.memId}"></td>
                <td th:text="${memberVO.memName}"></td>
                <td th:text="${memberVO.memPhone}"></td>
                <td th:text="${memberVO.address}"></td>
                <td th:text="${memberVO.point}"></td>
                <td th:text="${memberVO.memEmail}"></td>
                <td th:switch="${memberVO.status}">
                  <span th:case="0" style="color: red">已停權</span>
                  <span th:case="1" style="color: green">啟用中</span>
                </td>
                <td th:text="${#temporals.format(memberVO.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(memberVO.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                  <form th:action="@{/updateMemberStatus}" th:method="post">
                    <input type="hidden" name="member_id" th:value="${memberVO.memId}">
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="status" id="st1">
                    <button class="ban" type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
									<span>
										<i class="fa-solid fa-ban"
                                           style="color: #ff2600"></i>
									</span>
                    </button>
                  </form>
                </td>
              </tr>
            </th:block>
            </tbody>
          </table>
        </div>
        <div id="worker" class="content">
          <h2 class="content_title">服務人員管理</h2>
          <table id="myTable2" class="display" data-type="worker">
            <thead>
            <tr>
              <th>服務人員編號</th>
              <th>服務人員姓名</th>
              <th>性別</th>
              <th>電話</th>
              <th>電子信箱</th>
              <th>車號</th>
              <th>帳號狀態</th>
              <th>帳號建立時間</th>
              <th>最後更新時間</th>
              <th>停權</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="staffVO : ${staffList}">
              <tr>
                <td th:text="${staffVO.staffId}"></td>
                <td th:text="${staffVO.staffName}"></td>
                <td th:switch="${staffVO.staffGender}">
                  <span th:case="1">男性</span>
                  <span th:case="2">女性</span>
                </td>
                <td th:text="${staffVO.staffPhone}"></td>
                <td th:text="${staffVO.staffEmail}"></td>
                <td th:text="${staffVO.carNumber}"></td>
                <td th:switch="${staffVO.status}">
                  <span th:case="0" style="color: red">已停權</span>
                  <span th:case="1" style="color: green">啟用中</span>
                </td>
                <td th:text="${#temporals.format(staffVO.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(staffVO.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                  <form th:action="@{/updateStaffStatus}" th:method="post">
                    <input type="hidden" name="staff_id" th:value="${staffVO.staffId}">
                    <button class="ban" type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
									<span>
										<i class="fa-solid fa-ban"
                                           style="color: #ff2600"></i>
									</span>
                    </button>
                  </form>
                </td>
              </tr>
            </th:block>
            </tbody>
          </table>
        </div>

        <script
                th:src="@{/vendors/jquery/jquery-3.7.1.min.js}"></script>
        <script
                th:src="@{/vendors/fontawesome-6.7.2/js/all.min.js}"></script>
        <script
                th:src="@{/vendors/datatables/dataTables.min.js}"></script>
        <script
                th:src="@{/js/adminHomepage.js }"></script>


        <script>

        </script>
        </body>
        </html>
