div.body_text{
    font-family: Arial, sans-serif;
    margin: auto    ;
    padding: 20px;
    /* max-width: 400px; */
    height: 100%;
    background: #ffff;
    justify-content: center;
    align-items: center;
    width: 600px;
    box-shadow: 0 0 1000px rgba(0, 0, 0, 0.1);
    border: 2px solid Gainsboro;
    border-radius: 10px ;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
label.selection {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    font-size: 18px;
}
.nice-select{
    width: 100%;
    height: auto;
}
input, select,#nextPage {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}
input.date{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}
select.time_menu{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px
}
.remark {
    font-size: 14px;
    color: gray;
    margin-top: 5px;
}
#nextPage {
    background-color: #839974;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
#nextPage:hover {
    background-color: #768968;
}