<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>寵愛牠 PawCares</title>
  <link rel="icon" href="img/logo.png">
  <link rel="stylesheet" href="./css/forgetpassword.css">
</head>
<body>
  <div class="reset-password-container">
    <a href="./index.html"><img src="./img/title.png"></a>
    <h1>忘記密碼</h1>
    <p class="info-text">請輸入註冊時使用的 e-mail，系統將寄送驗證信。</p>
    <input type="email" placeholder="請輸入電子郵件">
    <input type="text" placeholder="請輸入驗證碼">
    <input type="password" placeholder="請輸入新密碼">
    <input type="password" placeholder="再次輸入密碼">
    <button class="button">寄送驗證碼</button>
    <button class="button">確認</button>
  </div>
</body>
</html>