<!DOCTYPE html>
<html lang="zh-Hant">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>寵愛牠 PawCares</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" th:href="@{/images/logo.png}">
<link rel="stylesheet" th:href="@{/css/forgetpassword.css}">
<link rel="stylesheet" th:href="@{/css/icofont.css}">
</head>
<body>
	<div class="reset-password-container">
		<a th:href="@{/}"><img th:src="@{/images/title.png}"></a>
		<div class="orangetitle">忘記密碼</div>
		<p class="info-text">請輸入註冊時使用的電子信箱，系統將寄送驗證碼。</p>

		<!-- Email row -->
		<div class="verify-row">
			<div class="verify-group">
				<div class="label-row">
					<label for="emailInput">帳號 (Email)</label>
					<div id="emailMsg" class="wrong ms-2"></div>
				</div>
				<input type="email" id="emailInput" class="form-control"
					 placeholder="請輸入會員信箱" required>
			</div>
			<button type="button" class="btn btn-send" id="sendCodeBtn">寄送驗證碼</button>
		</div>

		<!-- 驗證碼 row -->
		<div class="verify-row">
			<div class="verify-group">
				<div class="label-row">
					<label for="emailCodeInput">驗證碼</label>
					<div id="codeMsg" class="wrong" th:text="${codeError}"></div>
				</div>
				<input type="text" id="emailCodeInput" class="form-control"
					name="code" placeholder="請輸入6位數驗證碼">
			</div>
			<button type="button" class="btn btn-send" id="verifyCodeBtn"
				th:disabled="${session.verifyCheck}">認證，下一步</button>
		</div>

		
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/forgetpassword.js"></script>
</body>
</html>